:root {
    --color-primario-blanco: white;
    --color-secundario-negro: black;
    --color-terciario-gris: gray;
    --color-quaternario-azul: blue;
    --color-cinco-verde: rgb(47, 255, 99);

    --font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
        --dark: #16191c;
        --dark-x: #1e2126;
        --light: #ffffff;
    
}
.cont-caru {
    
    height: 35vh !important;
}
.img-caru {
    object-fit: cover;
}
.container-carrusel {
   
}
.container-bg-img {
    background-image: url(./img/353065597_710813511054060_9158423684060028871_n.jpg);
    background-position: center;
    background-repeat:no-repeat;
    background-size: contain;
    width: 100%;
    height: 35vh;
}



/* ********RESETEAR ESTILOS***** */
.tooltip {
    --bs-tooltip-font-size: 1rem;
  --bs-tooltip-color: #e9d8d8;
  --bs-tooltip-bg: var(--color-secundario-negro);
  --bs-tooltip-max-width: 14rem;
  font-family: var(--font-family);
}
.border-top {
    border-top: var(--bs-border-width) var(--bs-border-style) red !important;
  }
  .form-control {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

.navbar-toggler {
  padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
  font-size: var(--bs-navbar-toggler-font-size);
  line-height: 1;
  color: transparent !important;
  background-color: transparent;
  border: var(--bs-border-width) solid var(--bs-navbar-toggler-border-color);
  border-radius: var(--bs-navbar-toggler-border-radius);
  transition: var(--bs-navbar-toggler-transition);
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
  }
  
/* ********BOOTSTRAP ESTILOS***** */

.nav-item {
    
    transition: all 0.3s ease-out;
}
.nav-item:hover {
    background-color: transparent;
}
.nav-link:hover {
    color: white !important;
}
.navbar-toggler {
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-toggler:hover {
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28241, 230, 30%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    opacity: 0.75;
}
.badge {
    font-size: .8rem;
}
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000000'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  background-color: white;
  
}
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000000'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  background-color: white;
  
}
.carousel-control-next-icon, .carousel-control-prev-icon {
    width: 1.5rem;
    height: 2rem;
}
.carousel-control-prev {
    opacity: 1;
    justify-content: start;
  
}
.carousel-control-next {
    opacity: 1;
    justify-content: end;
}



a {
    color: rgb(39, 204, 88);
    transition: all .3s ease-out;
}
a:hover {
    color: #ffd700;
}
/* ********MI ESTILOS***** */
.container-nav {
    min-height: 20vh;
    padding: 1rem 0;
}
.img-shifu {
    width: 4rem;
    height: 4rem;
    min-height: 3rem;
}
.icon_nav {
    display: none;
}
.border {
    border: 4px solid red
}
.nav-item-nosotros {
    display: none;
}
/* .nav-item_texto {
    display: none;
} */
.input {
    width: 70%;
    
}
form button {
    border-top-right-radius: .375rem;
    border-bottom-right-radius: .375rem;

}
.container-main-caroousel {
    height: 15vh;
}
.footer-link {
    text-decoration: none;
    font-size: 1.3rem;
    transition: all 0.3s ease-out;
}

footer p {
    font-size: 1.3rem;
}

footer a:hover {
    color: #0d6efd !important;
    text-decoration: underline;
}

footer i {
    font-size: 1.75rem ;
}


/* paginalogin */


body {
    font-weight: 300;
    color: var(--light);
}

.bg-dark {
    background-color: var(--dark) !important;
}
.bg-dark-x, .btn {
    background-color: var(--dark-x);
}


/* // X-Small devices (portrait phones, less than 576px) */
/* // No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    
    .icon_nav {
        display: none;
    }
    .texto {
        display: block;
    }
    .input {
        max-width: 30rem;
        
    }
 }



/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .container-nav {
        min-height: 10vh;
    }
    .icon_nav {
        display: inline-flex;
    }
    .nav-item {
         font-size: calc(1rem + 0.9vw) !important;
          
    }
    .input {
        width: 70%;
        /* max-width: 30rem; */
 }
 .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
  }
  .border-top {
    border-top: none !important;
  }
}


/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .container-nav {
        min-height: 10vh;
    }
    .menu-hamburguesa {
        display:none ;
    }
    .nav-item-nosotros {
        display: block;
    }
    .img-logo {
        padding-left: 1rem !important;
    }
    .input {
        width: 80%;
       
 }
 }

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .container-nav {
        min-height: 10vh;
    }
 }
/* 
// XX-Large devices (larger desktops, 1400px and up) */



.footer a {
    text-decoration: none;
    font-size: 17px;
}

footer p {
    font-size: 17px;
}

footer a:hover {
    color: #0d6efd !important;
}

footer i {
    font-size: 25px;
}

@media (min-width: 1400px) {  }

/*-----------Acerca Nosotros---------- */
.bodyacercanos{
    /* background-image: url( https://media.gettyimages.com/id/522680020/es/foto/margaret-river.jpg?s=612x612&w=0&k=20&c=32NTNN26Cl4VbJyU-vnn_sSVc_ObJR2hUL4ur5qvEM4=); */
      background-image: url(https://img.freepik.com/foto-gratis/paisaje-campo-paja-cielo-azul_181624-37705.jpg?w=996&t=st=1688942934~exp=1688943534~hmac=7452248093ddae821349d852aa20f57f0d1982952109a8a506f92f6ec89a9f32);
    /* background-image: url(https://img.freepik.com/fotos-premium/pila-paja-retorcida-queda-campo-despues-cosechar-cereal_252085-4301.jpg?size=626&ext=jpg); */
    /* background-image: url(https://media.gettyimages.com/id/638556356/es/foto/sunrise-over-vineyards-in-napa-valley-california.jpg?s=612x612&w=0&k=20&c=sPd7gJFwIzPQZ8V3aAhdJQ2ezC6piuNM9DHL7xM6Ow8=); */
    /* background-image: url(https://img.freepik.com/vector-premium/campo-color-dorado-cielo-azul-trigo_251819-2152.jpg?w=1060); */
    /* background-image: url(https://img.freepik.com/fotos-premium/campo-paja-pajar_252085-33316.jpg?size=626&ext=jpg) ; */
        /* background-image: url(https://media.gettyimages.com/id/1345562834/es/foto/vineyards-in-the-champagne-region-of-france-at-sunrise-stock-photo.jpg?s=612x612&w=0&k=20&c=8pTy-ezqoUEmMMsfT2Djh3WjQRMVFZ1z95LCwOpyqxg=); */
        /* background-image: url(https://media.gettyimages.com/id/124613472/es/foto/bodega-en-el-sur-de-%C3%A1frica.jpg?s=612x612&w=0&k=20&c=NvccdP4k3XXBW_1zDTCIU6i-0frieGRjxC8bOinssyU=); */
        /* background-image: url( https://media.gettyimages.com/id/522680020/es/foto/margaret-river.jpg?s=612x612&w=0&k=20&c=32NTNN26Cl4VbJyU-vnn_sSVc_ObJR2hUL4ur5qvEM4=); */
        /* background-image: url(/gettyimages-522680020-612x612.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
}

#padreacerca{
    display: flex;
    align-items:center;
    justify-content:space-between;
    flex-direction: column;
    background-position: center;
   /* padding-top: 10%; */
}

#padrenos{display: flex;
    align-items:center;
    justify-content:space-between;
    flex-direction: column;}
.shifu{
    height: 60vh;
    width: 120vh;
    margin:10vh;
   
}

.Foot{background-color: saddlebrown;}

@media (min-width: 1400px) {
    .container-nav {
        min-height: 10vh;
    }
  }


