
:root {

  
    --color-primario-blanco: white;
    --color-secundario-negro: black;
    --color-terciario-gris: gray;
    --color-quaternario-azul: blue;
    --color-cinco-verde: rgb(47, 255, 99);
    --bg-color-opacity: rgba(205, 224, 34, 0.26);
    --font-family: 'Roboto', sans-serif;

    --dark: #16191c;
    --dark-x: #1e2126;
    --light: #ffffff;

}

* {
    font-family: var(--font-family);

}
.bodyindex {
    background-color:rgb(236, 240, 241);
}


.container-bg-img {
    background-image: url(./img/353065597_710813511054060_9158423684060028871_n.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 35vh;
}



/* ********RESETEAR ESTILOS***** */
.tooltip {
    --bs-tooltip-font-size: 1rem;
    --bs-tooltip-color: #e9d8d8;
    --bs-tooltip-bg: var(--color-secundario-negro);
    --bs-tooltip-max-width: 14rem;
    font-family: var(--font-family);
}

.border-topindex {
    border-top: var(--bs-border-width) var(--bs-border-style) rgba(147, 163, 163, 0.678) !important;
}

  .form-controlindex {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

}

.navbar-toggler {
    padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
    font-size: var(--bs-navbar-toggler-font-size);
    line-height: 1;
    color: transparent !important;
    background-color: transparent;
    border: var(--bs-border-width) solid var(--bs-navbar-toggler-border-color);
    border-radius: var(--bs-navbar-toggler-border-radius);
    transition: var(--bs-navbar-toggler-transition);
}
.containerindex, .container-fluidindex, .container-lgindex, .container-mdindex, .container-smindex, .container-xlindex, .container-xxlindex {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}

.offcanvas {

    --bs-offcanvas-width: 200px;

}




/* ********BOOTSTRAP ESTILOS***** */

.nav-item {


    transition: all 0.3s ease-out;
 
}

.nav-item:hover {
  background-color: transparent;
}

.nav-link:hover {
  color: white !important;
}

.navbar-toggler {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler:hover {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28241, 230, 30%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  opacity: 0.75;
}


.badge {
    font-size: .8rem;
}

.carousel-control-next-iconindex {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000000'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    background-color: white;

}

.carousel-control-prev-iconindex {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000000'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    background-color: white;

}


.carousel-control-next-iconindex,
.carousel-control-prev-iconindex{
    height: 2rem;
}

.carousel-control-previndex {
    opacity: 1;
    justify-content: start;

}

.carousel-control-nextindex {
    opacity: 1;
    justify-content: end;
}

.carousel-caption {
    z-index: 10;
}




.aindex {
    /* color: rgb(39, 204, 88); */

    transition: all .3s ease-out;
}

/* a:hover {
    color: #ffd700;
} */

/* ********MI ESTILOS***** */
.bg-color-opacity {
    background-color: var(--bg-color-opacity);
}

.badge {
    font-size: .6rem;
}

.img-gif {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-img_gifindex {
    width: 100%;
    height: 100%;
}


.container-navindex {
    min-height: 20vh;
    padding: 1rem 0;

}

.img-shifu {
  width: 4rem;
  height: 4rem;
  min-height: 3rem;
}

.icon_nav {
  display: none;
}

.border {
  border: 4px solid red;
}

.texto {
  display: none;
}

.nav-item-nosotros {
    display: none;

}


.input {

  
    width: 70%;

}
.formindex, .buttonindex {
    border-top-right-radius: .375rem;
    border-bottom-right-radius: .375rem;


}

.container-main-caroousel {
    height: 15vh;
}



.footer-link {
  text-decoration: none;
  font-size: 1.3rem;
  transition: all 0.3s ease-out;
}

footer p {
  font-size: 1.3rem;
}

footer a:hover {
  color: #0d6efd !important;
  text-decoration: underline;
}

footer i {

  font-size: 1.75rem;
}

/* PAGINA 404 */

.page_404 {
  padding: 80px 0;
  background: #fff;
  color:#16191c
}

.page_404 img {
  width: 100%;
}

.bg_404 {
  background: url(../E-commers/img/dribbble_1.gif);
  height:400px;
  background-position: center;
 
}

.cuatrocerocuatro {
  font-size: 80px;

    font-size: 1.75rem;
}


/* paginalogin */


.bodyindex {
    font-weight: 300;
    color: var(--light);
}

.bg-dark {
    background-color: var(--dark) !important;
}

.bg-dark-x,
.btn {
    background-color: var(--dark-x);

}

.volverinicio {
  color: #fff;
  text-decoration: none;
  background-color: #39ac31;
  padding: 10px 20px;
  display: inline-block;
}

/* botones de color */

.bg-color-check1 {
  background-color: #551400 !important;
}

.bg-color-check2 {
  background-color: #fff !important;
}

.bg-color-check3 {
  background-color: #162543 !important;
}

.bg-color-check4 {
    background-color: #1A5D1A !important;
  }

.bg-color-check5 {
    background-color: #FF9B9B !important;
}  

.img-op {
  width: 100px;
  height: 100px;
}

/* // X-Small devices (portrait phones, less than 576px) */
/* // No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

   

   

    .icon_nav {
        display: none;
    }

    .texto {
        display: block;
    }

    .input {
        max-width: 30rem;

    }

    .offcanvas {

        --bs-offcanvas-width: 300px;

    }

    .badge {
        font-size: .7rem;
    }

}


  .cajacoment {
    width: 50% !important;
  }

  .botoncoment {
    width: 25%;
    height: 100%;
  }


/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {


    .container-nav {
        min-height: 10vh;
    }

    .icon_nav {
        display: inline-flex;
    }

    .nav-item {
        font-size: calc(1rem + 0.9vw) !important;

    }

    .input {
        width: 70%;
        /* max-width: 30rem; */
    }

    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 0;
        padding-left: 0;
    }

    .border-top {
        border-top: none !important;
    }

    .offcanvas {

        --bs-offcanvas-width: 400px;

    }

    .badge {
        font-size: .8rem;
    }
  .img-hv-1 {
     
       max-height: 30rem !important;
    } 
    .img-sec-02 {

        max-height: 300px !important;
     }
    .roundedindex {
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }

}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

    .container-nav {
        min-height: 10vh;
    }

    .menu-hamburguesa {
        display: none;
    }

    .nav-item-nosotros {
        display: block;
    }

    .img-logo {
        padding-left: 1rem !important;
    }

    .input {
        width: 80%;
    }

    .offcanvas {

        --bs-offcanvas-width: 400px;

    }

    .badge {
        font-size: .8rem;
    }

    
    .roundedindex {
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }
    .img-hv-1 {
     
        max-height: 40rem !important;
     } 

}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

    .container-nav {
        min-height: 10vh;
    }

    .offcanvas {

        --bs-offcanvas-width: 400px;

    }

    .badge {
        font-size: .8rem;
    }

    .img-sec-02 {

        max-height: 400px !important;
     }
    .roundedindex{
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }
}


/* 
// XX-Large devices (larger desktops, 1400px and up) */

@media (min-width: 1400px) {

    .footer a {
        text-decoration: none;
        font-size: 17px;
    }

    footer p {
        font-size: 17px;
    }

    footer a:hover {
        color: #0d6efd !important;
    }

    footer i {
        font-size: 25px;
    }

    .img-sec-02 {

        max-height: 600px !important;
     }


    .container-nav {
        min-height: 10vh;
    }

    .offcanvas {

        --bs-offcanvas-width: 400px;

    }

    .badge {
        font-size: .8rem;
    }
    .roundedindex {
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0!important;
    }.img-hv-1 {
     
        max-height: 50rem !important;
     } 
}

/*-----------Acerca Nosotros---------- */
.bodyacercanos{
    /* background-image: url( https://media.gettyimages.com/id/522680020/es/foto/margaret-river.jpg?s=612x612&w=0&k=20&c=32NTNN26Cl4VbJyU-vnn_sSVc_ObJR2hUL4ur5qvEM4=); */
      /* background-image: url(https://img.freepik.com/foto-gratis/paisaje-campo-paja-cielo-azul_181624-37705.jpg?w=996&t=st=1688942934~exp=1688943534~hmac=7452248093ddae821349d852aa20f57f0d1982952109a8a506f92f6ec89a9f32); */
    background-image: url(https://img.freepik.com/fotos-premium/pila-paja-retorcida-queda-campo-despues-cosechar-cereal_252085-4301.jpg?size=626&ext=jpg);
    /* background-image: url(https://media.gettyimages.com/id/638556356/es/foto/sunrise-over-vineyards-in-napa-valley-california.jpg?s=612x612&w=0&k=20&c=sPd7gJFwIzPQZ8V3aAhdJQ2ezC6piuNM9DHL7xM6Ow8=); */
    /* background-image: url(https://img.freepik.com/vector-premium/campo-color-dorado-cielo-azul-trigo_251819-2152.jpg?w=1060); */
    /* background-image: url(https://img.freepik.com/fotos-premium/campo-paja-pajar_252085-33316.jpg?size=626&ext=jpg) ; */
        /* background-image: url(https://media.gettyimages.com/id/1345562834/es/foto/vineyards-in-the-champagne-region-of-france-at-sunrise-stock-photo.jpg?s=612x612&w=0&k=20&c=8pTy-ezqoUEmMMsfT2Djh3WjQRMVFZ1z95LCwOpyqxg=); */
        /* background-image: url(https://media.gettyimages.com/id/124613472/es/foto/bodega-en-el-sur-de-%C3%A1frica.jpg?s=612x612&w=0&k=20&c=NvccdP4k3XXBW_1zDTCIU6i-0frieGRjxC8bOinssyU=); */
        /* background-image: url( https://media.gettyimages.com/id/522680020/es/foto/margaret-river.jpg?s=612x612&w=0&k=20&c=32NTNN26Cl4VbJyU-vnn_sSVc_ObJR2hUL4ur5qvEM4=); */
        /* background-image: url(/gettyimages-522680020-612x612.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
}



#padreacerca{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-position: center;
    /* padding-top: 10%; */
}

#padrenos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.shifu {
    height: 60vh;
    width: 120vh;
    margin: 10vh;

}


footer i {
    font-size: 25px;
}

/* Css Carro*/

.bodyCarro {
    background: #373B44;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


/* RUBROS */

.rubros {
    background: #F4F2DE;

}

.imgcard {
    height: 300px;
}
/* Css Login*/
:root {
    --dark: #16191c;
    --dark-x: #1e2126;
    --light: #ffffff;
}

.bodylogin {
    font-weight: 300;
    color: var(--light);
}

@media (min-width: 1400px) {
    .container-nav {
        min-height: 10vh;
    }
    
}
.bg-dark-login {
        background-color: var(--dark) !important;
}
.bg-dark-x {
    background-color: var(--dark-x);
}
.imglogin   {
    height: 100vh;
}
  /*---------------- Pagina Registro------------- */

  :root {
    --dark: #16191c;
    --dark-x: #1e2126;
    --light: #ffffff;
}

.bodyregistro {
    font-weight: 300;
    color: var(--light);
}

.color-registro {
    background-color: var(--dark) !important;
}
.labelregistro, .btnregistro {
    background-color: var(--dark-x);
}
